<main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
        <div class="heading">
            <div class="container">
                <div class="row d-flex justify-content-center text-center">
                    <div class="col-lg-8">
                        <h1>Courses</h1>
                        <p class="mb-0">Explore a wide range of courses designed to enhance your skills and knowledge, 
                            empowering you to achieve your goals and succeed in your career.</p>
                    </div>
                </div>
            </div>
        </div>
        <nav class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li class="current">Courses</li>
                </ol>
            </div>
        </nav>
    </div><!-- End Page Title -->
    <!-- Courses Section -->
    <section id="courses" class="courses section">

        <div class="container">

            <div class="row">

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="course-item">
                        <img src="~/css/assets/img/course-1.jpg" class="img-fluid" alt="...">
                        <div class="course-content">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <p class="category">Jamb</p>
                                <p class="price">$169</p>
                            </div>

                            <h3><a asp-action="SignUp" asp-controller="Auth">Jamb</a></h3>
                            <p class="description">Prepare for your JAMB exams with comprehensive courses and practice tests designed
                                to help you excel and secure your admission into top universities.</p>
                            <div class="trainer d-flex justify-content-between align-items-center">
                                <div class="trainer-profile d-flex align-items-center">
                                    <img src="~/css/assets/img/trainers/trainer-1-2.jpg" class="img-fluid" alt="">
                                    <a href="" class="trainer-link">Antonio</a>
                                </div>
                                <div class="trainer-rank d-flex align-items-center">
                                    <i class="bi bi-person user-icon"></i>&nbsp;50
                                    &nbsp;&nbsp;
                                    <i class="bi bi-heart heart-icon"></i>&nbsp;65
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- End Course Item-->

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                    <div class="course-item">
                        <img src="~/css/assets/img/course-2.jpg" class="img-fluid" alt="...">
                        <div class="course-content">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <p class="category">WAEC</p>
                                <p class="price">$250</p>
                            </div>

                            <h3><a asp-action="SignUp" asp-controller="Auth">WAEC</a></h3>
                            <p class="description">Get ready for your WAEC exams with expertly crafted courses and practice questions to help you achieve outstanding
                                results and succeed in your academic journey.</p>
                            <div class="trainer d-flex justify-content-between align-items-center">
                                <div class="trainer-profile d-flex align-items-center">
                                    <img src="~/css/assets/img/trainers/trainer-2-2.jpg" class="img-fluid" alt="">
                                    <a href="" class="trainer-link">Lana</a>
                                </div>
                                <div class="trainer-rank d-flex align-items-center">
                                    <i class="bi bi-person user-icon"></i>&nbsp;35
                                    &nbsp;&nbsp;
                                    <i class="bi bi-heart heart-icon"></i>&nbsp;42
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- End Course Item-->

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
                    <div class="course-item">
                        <img src="~/css/assets/img/course-3.jpg" class="img-fluid" alt="...">
                        <div class="course-content">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <p class="category">Quizes</p>
                                <p class="price">$180</p>
                            </div>

                            <h3><a asp-action="SignUp" asp-controller="Auth">Apptitude Tests</a></h3>
                            <p class="description">Sharpen your skills and excel in aptitude tests with tailored practice questions 
                                and comprehensive resources designed to boost your performance.</p>
                            <div class="trainer d-flex justify-content-between align-items-center">
                                <div class="trainer-profile d-flex align-items-center">
                                    <img src="~/css/assets/img/trainers/trainer-3-2.jpg" class="img-fluid" alt="">
                                    <a href="" class="trainer-link">Brandon</a>
                                </div>
                                <div class="trainer-rank d-flex align-items-center">
                                    <i class="bi bi-person user-icon"></i>&nbsp;20
                                    &nbsp;&nbsp;
                                    <i class="bi bi-heart heart-icon"></i>&nbsp;85
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- End Course Item-->

            </div>

        </div>

    </section><!-- /Courses Section -->

</main>