<main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
        <div class="heading">
            <div class="container">
                <div class="row d-flex justify-content-center text-center">
                    <div class="col-lg-8">
                        <h1>Pricing</h1>
                        <p class="mb-0">Choose from our flexible pricing options tailored to meet your needs. 
                            Whether you are a student or professional, we offer affordable plans that provide access to all the tools and features you require. 
                            Explore our packages and find the perfect fit for your goals.</p>
                    </div>
                </div>
            </div>
        </div>
        <nav class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li class="current">Pricing</li>
                </ol>
            </div>
        </nav>
    </div><!-- End Page Title -->
    <!-- Pricing Section -->
    <section id="pricing" class="pricing section">

        <div class="container">

            <div class="row gy-3">

                <div class="col-xl-3 col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="pricing-item">
                        <h3>Free</h3>
                        <h4><sup>$</sup>0<span> / month</span></h4>
                        <ul>
                            <li>Access to basic quiz questions </li>
                            <li>Limited practice exams</li>
                            <li>Progress tracking for up to 3 subjects</li>
                            <li class="na">Basic performance reports</li>
                            <li class="na">Access to advanced features</li>
                        </ul>
                        <div class="btn-wrap">
                            <a href="#" class="btn-buy">Buy Now</a>
                        </div>
                    </div>
                </div><!-- End Pricing Item -->

                <div class="col-xl-3 col-lg-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="pricing-item featured">
                        <h3>Business</h3>
                        <h4><sup>$</sup>19<span> / month</span></h4>
                        <ul>
                            <li>Access to all quiz questions</li>
                            <li>Unlimited practice exams</li>
                            <li>Detailed progress tracking</li>
                            <li>Performance reports for all subjects</li>
                            <li class="na">Personalized study recommendations</li>
                        </ul>
                        <div class="btn-wrap">
                            <a href="#" class="btn-buy">Buy Now</a>
                        </div>
                    </div>
                </div><!-- End Pricing Item -->

                <div class="col-xl-3 col-lg-6" data-aos="fade-up" data-aos-delay="400">
                    <div class="pricing-item">
                        <h3>Developer</h3>
                        <h4><sup>$</sup>29<span> / month</span></h4>
                        <ul>
                            <li>All features in Student Plan</li>
                            <li>Access to premium practice exams</li>
                            <li>Advanced performance analytics</li>
                            <li>Exam simulation with timed tests</li>
                            <li>Priority support</li>
                        </ul>
                        <div class="btn-wrap">
                            <a href="#" class="btn-buy">Buy Now</a>
                        </div>
                    </div>
                </div><!-- End Pricing Item -->

                <div class="col-xl-3 col-lg-6" data-aos="fade-up" data-aos-delay="400">
                    <div class="pricing-item">
                        <span class="advanced">Advanced</span>
                        <h3>Ultimate</h3>
                        <h4><sup>$</sup>49<span> / month</span></h4>
                        <ul>
                            <li>All features in Advanced Student Plan</li>
                            <li>Personalized tutoring sessions</li>
                            <li>Custom quizzes created from weak areas</li>
                            <li>Access to study materials and guides</li>
                            <li>Early access to new features</li>
                        </ul>
                        <div class="btn-wrap">
                            <a href="#" class="btn-buy">Buy Now</a>
                        </div>
                    </div>
                </div><!-- End Pricing Item -->

            </div>

        </div>

    </section><!-- /Pricing Section -->

</main>